body
{
    background-color: #F8F7F3;
}
.buscador
{
    border-radius: 10px;
    background-color:	rgb(218, 211, 202);
    color: white;
}
.btn-outline-dark
{
    margin-right: 20px;
    background-color: #7b5849;
    color: white;
}

.navbar-brand
{
    font-family: 'Merriweather', serif;
    font-size: 150%;
}
a.dropdown-item:active
{
    background-color: rgb(218, 211, 202);
    color: black;
}
.container
{
    margin-top: 20px;
}