body
{
    background-color: #F8F7F3;
    margin: 0;
}

.container-fluid
{
    padding: 0;
}
.buscador
{
    background-color:	rgb(218, 211, 202);
    color: white;
}
.btn-outline-dark
{
    margin-right: 20px;
    background-color: #7b5849;
    color: white;
}

.navbar-brand
{
    font-family: 'Merriweather', serif;  
    font-size: 150%;
}
.descubre
{
    font-family: 'Merriweather', serif;  
}
a.dropdown-item:active
{
    background-color: rgb(218, 211, 202);
    color: black;
}
.container
{
    margin-top: 20px;
}
.login
{
    color: black;
    background-color: rgb(218, 211, 202);
    border: 1px solid  #7b5849;
}
.login:hover
{
    color: white;
    background-color: #7b5849;
    border: 1px solid  #7b5849;
}

.btn-outline-secondary:hover
{
    color: black;
    background-color:rgb(218, 211, 202);
    border: 1px solid  black;
}
.img_libro:hover
{
    cursor: pointer;
}
.form-login
{
    border-radius: 10px;
    padding: 40px 15px;
    border: 1px solid  #7b5849;

}

.input-group-text 
{
    background-color:rgb(218, 211, 202);

}
.fotoComentario
{
    width: 60px;
}
.ProfilePicture
{
    border-radius:190px;
    margin-bottom: 10px;
}
.modal-content
{
    margin-top: 80px;
    background-color: #f8f7f3;
    padding: 0 18;
    border-radius: 10px;
}
.user-img img
{
    width: 120px;
}

.inicio:hover
{
    color: white;
    background-color: #7b5849;
    opacity: .9;
}

.c-img
{
    width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.c-img img
{
    width: 100%;
    border-radius: 5px;
}
.c-img img,.c-img .txt
{
    cursor: pointer;
}
.c-img .txt
{
    position: absolute;
    color: white;
    left: 35%;
    transition: all .3s;
    opacity: 0;
    transform: scale(1.5);
}
.c-img:hover .txt
{
    opacity: 1;
    transform: scale(1);
    -webkit-text-stroke: #7b5849 1px; 
}
.c-img:before, .c-img:after
{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    background-color: white;
    transition: all .3s;
}
.c-img:before
{
    left: -100%;
    top:10px;
}
.c-img:after
{
    left: 100%;
    bottom: 10px;
}
.c-img:hover:before, .c-img:hover:after
{
    left: 15px;
}
.registro
{
    border: 1px solid #7b5849;
    padding: 15px;
    border-radius: 15px;
}
.btn-primary
{
    background-color: #7b5849;
}
.comentario
{
    font-family: 'Merriweather', serif; 
    margin-bottom: 0;
    display: inline-block;
    width: 92%;
    padding: 10px;
    border-radius: 45px;
    background-color: rgba(218, 211, 202, 0.4);
}
.perfil
{
    width: 350px;
}