body
{
    background-color: #F8F7F3;
    margin: 0;
}

.container-fluid
{
    padding: 0;
}
.buscador
{
    background-color:	rgb(218, 211, 202);
    color: white;
}
.btn-outline-dark
{
    margin-right: 20px;
    background-color: #7b5849;
    color: white;
}

.navbar-brand
{
    font-family: 'Merriweather', serif;
    font-size: 150%;
}
a.dropdown-item:active
{
    background-color: rgb(218, 211, 202);
    color: black;
}
.container
{
    margin-top: 20px;
}
.login
{
    color: black;
    background-color: rgb(218, 211, 202);
    border: 1px solid  #7b5849;
}
.login:hover
{
    color: white;
    background-color: #7b5849;
    border: 1px solid  #7b5849;
}

.btn-outline-secondary:hover
{
    color: black;
    background-color:rgb(218, 211, 202);
    border: 1px solid  black;
}
.img_libro:hover
{
    cursor: pointer;
}
.form-login
{
    border-radius: 10px;
    padding: 40px 15px;
    border: 1px solid  #7b5849;

}

.input-group-text 
{
    background-color:rgb(218, 211, 202);
}
.ProfilePicture
{
    width: 90px;
    border-radius:150px;
}
.modal-content
{
    margin-top: 80px;
    background-color: #f8f7f3;
    padding: 0 18;
    border-radius: 10px;
    border: #7b5849 solid 1px;
}
.user-img img
{
    width: 120px;
}

.inicio:hover
{
    color: white;
    background-color: #7b5849;
    opacity: .9;
}
.sesion
{
    border: #7b5849 1px solid;
    border-radius: 5px;
}/*
.c-img 
{
    position: relative;

    display: flex;
    align-items: center;
    overflow: hidden;
}
.c-img ::before, .c-img::after
{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 4px;
    background-color: white;
    transition: all .3s;
}
.c-img ::before
{
    left: -100%; top:10px;
}
.c-img::after
{
    left: 100%; bottom: 10px;
}
.c-img :hover::before, .c-img:hover::after
{
    left: 15px;
}
.txt
{
    font-family: 'Merriweather', serif;
    position: absolute;
    transition: all .3s;
    transform:  scale(1,5);
    opacity: 0;
}
.txt:hover
{
    transform:  scale(1);
    opacity: 1;
}


*/